{% extends "layout.html" %}
{% block body %}
<div class="card-deck mb-3">
  {% for tea in teas %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">{{ tea.Name }}</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li><strong>生産地:</strong> {{ tea.Location }}</li>
          <li><strong>生産国:</strong> {{ tea.Country }}</li>
          <li><strong>説明:</strong> {{ tea.Description }}</li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>

<footer class="my-5 pt-5 text-muted text-center text-small border-top">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/?page={{ firstPage }}{{ urlQuery }}">First Page</a></li>
    {% if currentPage > 1 %}
    <li class="list-inline-item"><a href="/?page={{ currentPage - 1 }}{{ urlQuery }}">{{ currentPage - 1 }}</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="/?page={{ currentPage }}{{ urlQuery }}">{{ currentPage }}</a></li>
    {% if currentPage != lastPage %}
    <li class="list-inline-item"><a href="/?page={{ currentPage + 1 }}{{ urlQuery }}">{{ currentPage + 1 }}</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="/?page={{ lastPage }}{{ urlQuery }}">Last Page</a></li>
  </ul>
</footer>
{% endblock %}
