appnope==0.1.0
backcall==0.1.0
bottle==0.12.13
certifi==2018.8.13
chardet==3.0.4
click==6.7
decorator==4.3.0
Flask==1.0.2
Flask-Login==0.4.1
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
MarkupSafe==1.0
parso==0.3.1
peewee==3.6.4
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.23
uWSGI==2.0.17.1
wcwidth==0.1.7
Werkzeug==0.14.1
WTForms==2.2.1
